---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import compOrgLogo from "../../assets/courses/computer-organization/img/computer-organization-logo.png";
import CyberListItem from "../../components/ui/CyberListItem.astro";
---

<Layout>
  <div class="mb-3 bg-cyber-darker">
    <canvas id="animation"></canvas>
    <div class="p-5 animation-overlay">
      <a href="/" class="btn btn-sm btn-outline-light">← Back</a>
    </div>
    <div class="container pb-5 animation-overlay">
      <div class="text-center">
        <h1 class="text-cyber-primary">Computer Organization</h1>
        <Image
          src={compOrgLogo}
          class="my-4"
          width="128"
          alt="Computer Organization Logo"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Number Systems</h3>
    <ul>
      <CyberListItem>
        <a href="1-1-bin-dec-practice-1">1.1 Binary to Decimal Practice 1</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-2-bin-dec-practice-2">1.2 Binary to Decimal Practice 2</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-3-bin-dec-practice-3">1.3 Binary to Decimal Practice 3</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-4-dec-bin-practice-1">1.4 Decimal to Binary Practice 1</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-5-dec-bin-practice-2">1.5 Decimal to Binary Practice 2</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-6-dec-bin-practice-3">1.6 Decimal to Binary Practice 3</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-7-hex-bin-practice-1">1.7 Hex to Binary Practice 1</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-8-hex-bin-practice-2">1.8 Hex to Binary Practice 2</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-9-bin-hex-practice">1.9 Binary to Hex Practice</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-10-text-representation">1.10 Text Representation</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-11-color-representation">1.11 Color Representation</a>
      </CyberListItem>
      <CyberListItem>
        <a href="1-12-counting-numbers">1.12 Counting Numbers</a>
      </CyberListItem>
    </ul>
  </div>
</Layout>

<style>
  canvas#animation {
    position: absolute;
  }

  .animation-overlay {
    position: relative;
    z-index: 1;
  }
</style>

<script>
  (() => {
    const FONT_SIZE = 16;
    const FONT_STYLE = FONT_SIZE + "px jetbrains";
    const BACKGROUND_COLOR = "rgb(5, 0, 20)";
    const FADE_COLOR = "rgba(5, 0, 20, 0.1)";
    const TEXT_COLOR = "rgba(0, 255, 0, 0.9)";
    const CHARS = "0123456789ABCDEF";
    const canvas = document.querySelector<HTMLCanvasElement>("#animation");
    if (!canvas?.getContext) return;
    const context = canvas.getContext("2d");
    if (!context) return;

    let columns = canvas.width / FONT_SIZE;
    let dropCoords: number[] = [];

    const initWindow = (canvas: HTMLCanvasElement) => {
      canvas.width = canvas.parentElement?.clientWidth ?? canvas.width;
      canvas.height = canvas.parentElement?.clientHeight ?? canvas.height;
      columns = canvas.width / FONT_SIZE;
      context.fillStyle = BACKGROUND_COLOR;
      context.fillRect(0, 0, canvas.width, canvas.height);
      context.font = FONT_STYLE;

      for (let x = 0; x < columns; x++) {
        dropCoords[x] = Math.trunc(canvas.height);
      }
    };

    initWindow(canvas);

    const draw = () => {
      // Reinitialize window if canvas size changes
      if (canvas.width !== canvas.parentElement?.clientWidth) {
        initWindow(canvas);
      }

      // Clear
      context.fillStyle = FADE_COLOR;
      context.fillRect(0, 0, canvas.width, canvas.height);
      context.fillStyle = TEXT_COLOR;

      for (let i = 0; i < dropCoords.length; i++) {
        const text = CHARS[Math.floor(Math.random() * CHARS.length)];
        context.fillText(text, i * FONT_SIZE, dropCoords[i] * FONT_SIZE);

        // Reset Y coordinate if exceeds bottom
        if (
          dropCoords[i] * FONT_SIZE > canvas.height &&
          Math.random() > 0.975
        ) {
          dropCoords[i] = 0;
        }

        dropCoords[i]++;
      }
    };

    setInterval(draw, 50);
  })();
</script>
