.bg-cyber {
  background-color: var(--cyber-dark);
}

.bg-cyber-dark {
  background-color: var(--cyber-darker);
}

.text-primary {
  color: var(--color-theme) !important;
}

.text-eds-green {
  color: var(--eds-green) !important;
}

.text-eds-gold {
  color: var(--eds-gold) !important;
}