@import "bootstrap/dist/css/bootstrap.css";
@import "./_variables.css";
@import "./_fonts.css";
@import "./_buttons.css";
@import "./_typography.css";

.text-eds-green {
  color: var(--eds-green);
}

.text-eds-gold {
  color: var(--eds-gold);
}

[x-cloak] { display: none !important; }