---
import Layout from "../layouts/Layout.astro";
import CourseCard from "../components/ui/CourseCard.astro";
import Divider from "../components/ui/Divider.astro";
import ListItem from "../components/ui/ListItem.astro";

import CodeChallengesThumbnail from "../assets/courses/code-challenges/img/code-challenges-thumbnail.svg";
import CompOrgThumbnail from "../assets/courses/computer-organization/img/computer-organization-thumbnail.svg";
import JavaScriptThumbnail from "../assets/courses/javascript-programming/img/javascript-thumbnail.svg";
import PythonThumbnail from "../assets/courses/python-programming/img/python-thumbnail.svg";
import SkynestLogo from "../assets/img/misc/skynest-emblem-green.svg";
---

<Layout>
  <!-- Hero Unit -->
  <div class="bg-skynest-dark mb-3">
    <canvas id="matrix" style="position: absolute;"></canvas>
    <h1 class="text-center text-eds-green pt-5 animation-overlay">
      <span class="bg-black p-2 d-inline-block" style="--bs-bg-opacity: .75;"
        >St. Edward High School</span
      >
    </h1>
    <h4 class="text-center text-eds-gold animation-overlay">
      <span class="bg-black p-2 d-inline-block" style="--bs-bg-opacity: .75;"
        >Computer science and Engineering</span
      >
    </h4>
    <SkynestLogo
      id="skynestLogo"
      class="d-block mx-auto img-fluid w-25 animation-overlay"
    />
  </div>
  <section class="container mb-3 p-1">
    <!-- Course Content -->
    <h3 id="course-content" class="text-center py-3">Course Content</h3>
    <div class="row mb-3">
      <div class="col-sm-12 col-md-4 col-lg-3 my-3">
        <CourseCard
          link="/computer-organization/"
          title="Computer Orgranization"
        >
          <CompOrgThumbnail />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 my-3">
        <CourseCard link="#" title="JavaScript Programming">
          <JavaScriptThumbnail />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 my-3">
        <CourseCard link="#" title="Python Programming">
          <PythonThumbnail />
        </CourseCard>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 my-3">
        <CourseCard link="#" title="Python Programming">
          <CodeChallengesThumbnail />
        </CourseCard>
      </div>
    </div>
    <Divider variant="9" />
    <!-- Links/Utilities -->
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6">
        <h4 class="text-center py-3">Links</h4>
        <ul>
          <ListItem>
            <a href="https://code.visualstudio.com/" target="_blank"
              >Visual Studio Code</a
            >
          </ListItem>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <h4 class="text-center py-3">Utilities</h4>
        <ul>
          <ListItem>
            <a href="/utilities/color-picker">RGB Color Picker</a>
          </ListItem>
        </ul>
      </div>
    </div>
  </section>
</Layout>

<script>
  import { animate } from "animejs";
  import { matrixAnimation } from "../scripts/animations/matrix-animation";

  matrixAnimation("matrix");

  // Spinning Logo
  (() => {
    let delta = 0;
    const logo = document.querySelector<HTMLImageElement>("#skynestLogo");
    if (!logo) return;

    logo.onclick = (ev) => {
      delta += 10;
      animate(logo, { rotate: `+=${delta}` });
    };

    logo.onmouseout = (ev) => {
      animate(logo, { rotate: 0 });
      delta = 0;
    };
  })();
</script>
