---

---

<section x-data="colorPicker1bit">
  <div class="row">
    <div class="col-sm-12 col-md-6 my-auto">
      <label class="form-label">Green: <span x-text="g"></span></label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="1"
        step="1"
        x-model="g"
      />
    </div>
    <div class="col-sm-12 col-md-6">
      <div
        class="color-square mt-3"
        :style="`background-color: rgb(0, ${g == 1 ? 255 : 0}, 0`"
      >
      </div>
      <p><span class="text-green" x-text="g"></span></p>
    </div>
  </div>

  <script>
    import Alpine from "alpinejs";

    interface ColorPicker {
      g: string;
    }

    let colorPicker: ColorPicker = { g: "0" };

    document.addEventListener("alpine:init", () => {
      Alpine.data("colorPicker1bit", () => colorPicker);
    });
  </script>

  <style>
    .color-square {
      height: 14rem;
      border: 3px solid black;
      border-radius: 5px;
    }

    .text-green {
      color: #0f0;
    }
  </style>
</section>
