---
interface Props {
  dataUrl: string;
}
let { dataUrl: dataUrl } = Astro.props;
---

<section x-data="practice">
  <div id="dataUrl" data-dataUrl={dataUrl}></div>
  <template x-if="!questions">
    <div class="card">
      <button
        class="btn cyber-btn cyber-btn-primary-1 btn-shadow-primary d-block mx-auto my-5"
        @click="beginPractice()"
      >
        Begin Practice
      </button>
    </div>
  </template>
  <template x-if="questions">
    <div class="card" x-show="questions">
      <div class="card-header">
        <p class="text-center h5">
          (#<span x-text="currentQuestionIndex + 1"></span> of <span
            x-text="questions.length"></span>)
          <span x-html="currentQuestion.text"></span>
        </p>
      </div>
      <div class="card-body" x-show="!displayScore">
        <label class="form-label" for="answer">Answer: </label>
        <input id="answer" class="form-control" x-model="submittedAnswer" />
        <p x-html="responseHTML" :class="responseStyle"></p>
        <p>Score: <span x-text="score"></span></p>
      </div>
      <div class="card-body" x-show="displayScore">
        <p class="text-center">
          Score: <span x-text="score"></span>/<span x-text="questions.length"
          ></span>
        </p>
      </div>
      <div class="card-footer" x-show="!displayScore">
        <button
          class="btn cyber-btn cyber-btn-primary-3 btn-shadow-primary"
          x-show="!isQuestionComplete"
          @click="submitAnswer()"
        >
          Submit
        </button>
        <button
          class="btn cyber-btn cyber-btn-primary-3 btn-shadow-primary"
          x-show="isQuestionComplete && !isPracticeComplete"
          @click="beginNextQuestion()"
        >
          Next Question
        </button>
        <button
          class="btn cyber-btn cyber-btn-primary-3 btn-shadow-primary"
          x-show="isPracticeComplete"
          @click="displayScore = true;"
        >
          End Practice
        </button>
      </div>
    </div>
  </template>
</section>

<script>
  import Alpine from "alpinejs";
  import { shuffle } from "../scripts/utilities";

  type Question = {
    text: string;
    correctAnswers: string[];
    questionType: number;
    answerDetail: string;
  };

  interface Practice {
    questions: Question[] | null;
    currentQuestion: Question | null;
    currentQuestionIndex: number;
    submittedAnswer: string | null;
    isQuestionComplete: boolean;
    isRightOnFirstTry: boolean;
    displayScore: boolean;
    questionsAnswered: number;
    score: number;
    responseStyle: string;
    responseHTML: string | null;
    get isPracticeComplete(): boolean;
    beginPractice(): void;
    submitAnswer(): void;
    beginNextQuestion(): void;
  }

  let practice: Practice = {
    questions: null,
    currentQuestion: null,
    currentQuestionIndex: 0,
    submittedAnswer: null,
    isQuestionComplete: false,
    isRightOnFirstTry: true,
    displayScore: false,
    questionsAnswered: 0,
    score: 0,
    responseStyle: "",
    responseHTML: "<p>&nbsp;</p>",
    get isPracticeComplete() {
      return this.questionsAnswered == this.questions?.length;
    },
    beginPractice() {
      const questionDataUrl = document
        .querySelector("#dataUrl")
        ?.getAttribute("data-dataUrl");

      if (questionDataUrl) {
        fetch(questionDataUrl)
          .then((res) => res.json())
          .then((data) => {
            this.questions = data;
            if (this.questions) {
              shuffle(this.questions);
              this.currentQuestion = this.questions[0];
            }
          });
      }
    },
    submitAnswer() {
      if (
        this.currentQuestion &&
        this.submittedAnswer &&
        this.currentQuestion.correctAnswers.includes(this.submittedAnswer)
      ) {
        this.responseHTML = this.currentQuestion.answerDetail;
        this.responseStyle = "text-info";
        this.isQuestionComplete = true;
        this.questionsAnswered++;

        if (this.isRightOnFirstTry) {
          this.score++;
        }
      } else {
        this.responseHTML = "Try again!";
        this.responseStyle = "text-danger";
        this.isRightOnFirstTry = false;
      }
    },
    beginNextQuestion() {
      if (this.questions) {
        this.currentQuestionIndex++;
        this.currentQuestion = this.questions[this.currentQuestionIndex];
        this.isQuestionComplete = false;
        this.responseHTML = "<p>&nbsp;</p>";
        this.responseStyle = "";
        this.submittedAnswer = "";
        this.isRightOnFirstTry = true;
      }
    },
  };

  document.addEventListener("alpine:init", () => {
    Alpine.data("practice", () => practice);
  });
</script>
