---

---

<section x-data="decBinHexCounter">
  <label class="form-label">Decimal:</label>
  <input class="form-control" type="text" x-model="decValue" readonly />
  <label class="form-label">Binary:</label>
  <input class="form-control" type="text" x-model="binValue" readonly />
  <label class="form-label">Hex:</label>
  <input class="form-control" type="text" x-model="hexValue" readonly />
  <div class="my-3 text-center">
    <button class="btn cyber-btn cyber-btn-primary-1 btn-shadow-primary d-inline-block m-2" @click="decrement" :disabled="valueIsZero">Decrement</button>
    <button class="btn cyber-btn cyber-btn-primary-1 btn-shadow-primary d-inline-block m-2" @click="increment">Increment</button>
  </div>
</section>

<script>
  import Alpine from "alpinejs";

  interface DecBinHexCounter {
    decValue: string;
    get binValue(): string;
    get hexValue(): string;
    get valueIsZero(): boolean;
    decrement(): void;
    increment(): void;
  }

  let decBinHexCounter: DecBinHexCounter = {
    decValue: "0",
    get binValue() {
      return parseInt(this.decValue).toString(2);
    },
    get hexValue() {
      return parseInt(this.decValue).toString(16).toUpperCase();
    },
    get valueIsZero() {
      return this.decValue === "0";
    },
    decrement() {
      this.decValue = (parseInt(this.decValue) - 1).toString();
    },
    increment() {
      this.decValue = (parseInt(this.decValue) + 1).toString();
    },
  };

  document.addEventListener("alpine:init", () => {
    Alpine.data("decBinHexCounter", () => decBinHexCounter);
  });
</script>
