---

---

<section x-data="bitToggler">
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table">
        <tbody>
          <tr class="text-center">
            <td>
              <div x-text="bit8">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle8"
              />
            </td>
            <td>
              <div x-text="bit7">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle7"
              />
            </td>
            <td>
              <div x-text="bit6">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle6"
              />
            </td>
            <td>
              <div x-text="bit5">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle5"
              />
            </td>
            <td colspan="2"></td>
            <td>
              <div x-text="bit4">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle4"
              />
            </td>
            <td>
              <div x-text="bit3">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle3"
              />
            </td>
            <td>
              <div x-text="bit2">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle2"
              />
            </td>
            <td>
              <div x-text="bit1">0</div>
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                x-model="toggle1"
              />
            </td>
            <td class="align-top">
              = <span x-text="decValue"></span><sub>DEC</sub>
            </td>
          </tr>
          <tr class="text-center">
            <td>2<sup>7</sup></td>
            <td>2<sup>6</sup></td>
            <td>2<sup>5</sup></td>
            <td>2<sup>4</sup></td>
            <td colspan="2"></td>
            <td>2<sup>3</sup></td>
            <td>2<sup>2</sup></td>
            <td>2<sup>1</sup></td>
            <td>2<sup>0</sup></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("bitToggler", () => ({
      toggle1: false,
      toggle2: false,
      toggle3: false,
      toggle4: false,
      toggle5: false,
      toggle6: false,
      toggle7: false,
      toggle8: false,
      get bit1() {
        return this.toggle1 ? 1 : 0;
      },
      get bit2() {
        return this.toggle2 ? 1 : 0;
      },
      get bit3() {
        return this.toggle3 ? 1 : 0;
      },
      get bit4() {
        return this.toggle4 ? 1 : 0;
      },
      get bit5() {
        return this.toggle5 ? 1 : 0;
      },
      get bit6() {
        return this.toggle6 ? 1 : 0;
      },
      get bit7() {
        return this.toggle7 ? 1 : 0;
      },
      get bit8() {
        return this.toggle8 ? 1 : 0;
      },
      get decValue() {
        return (
          this.bit1 +
          this.bit2 * 2 +
          this.bit3 * 4 +
          this.bit4 * 8 +
          this.bit5 * 16 +
          this.bit6 * 32 +
          this.bit7 * 64 +
          this.bit8 * 128
        );
      },
    }));
  });
</script>

<style>
  td:last-child {
    min-width: 6.25rem;
  }
</style>