---

---

<section x-data="colorPicker24bit">
  <div class="row">
    <div class="col-sm-12 col-md-6 my-auto">
      <label class="form-label">Red: <span x-text="rBin"></span></label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="255"
        step="1"
        x-model="r"
      />
      <label class="form-label">Green: <span x-text="gBin"></span></label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="255"
        step="1"
        x-model="g"
      />
      <label class="form-label" for="blue"
        >Blue: <span x-text="bBin"></span></label
      >
      <input
        type="range"
        class="form-range"
        min="0"
        max="255"
        step="1"
        x-model="b"
      />
      <p>Hex: #<span x-text="hex"></span></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="color-square mt-3" :style="`background-color: #${hex}`"></div>
      <p>
        <span class="text-red" x-text="rBin"></span><span
          class="text-green"
          x-text="gBin"></span><span class="text-blue" x-text="bBin"></span>
      </p>
    </div>
  </div>
</section>

<script>
  import Alpine from "alpinejs";

  interface ColorPicker {
    r: string;
    g: string;
    b: string;
    get rBin(): string;
    get gBin(): string;
    get bBin(): string;
    get hex(): string;
  }

  let colorPicker: ColorPicker = {
    r: "0",
    g: "0",
    b: "0",
    get rBin() {
      return parseInt(this.r).toString(2).padStart(8, "0");
    },
    get gBin() {
      return parseInt(this.g).toString(2).padStart(8, "0");
    },
    get bBin() {
      return parseInt(this.b).toString(2).padStart(8, "0");
    },
    get hex() {
      const toHex = (val: string): string =>
        parseInt(val).toString(16).toUpperCase().padStart(2, "0");
      return toHex(this.r) + toHex(this.g) + toHex(this.b);
    },
  };

  document.addEventListener("alpine:init", () => {
    Alpine.data("colorPicker24bit", () => colorPicker);
  });
</script>

<style>
  .color-square {
    height: 14rem;
    border: 3px solid black;
    border-radius: 5px;
  }

  .text-red {
    color: #f00;
  }

  .text-green {
    color: #0f0;
  }

  .text-blue {
    color: #00f;
  }
</style>
