---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

export interface Props {
  link: string;
  img: ImageMetadata;
  title: string;
}

let {
  link = "#",
  img,
  title,
} = Astro.props
---

<div class="card card-shadow">
  <a href={link}>
    <Image src={img} class="card-img-top img-fluid" title={title} alt={title} />
  </a>
</div>

<style>
  .card {
    --bs-card-border-width: 0;
    --bs-card-inner-border-radius: 0;

    box-shadow: none;
    transition: box-shadow 0.25s ease;
  }

  .card-shadow:hover {
    box-shadow: 0 .5rem 1rem var(--cyber-primary);
  }
</style>
